################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ReadAJson/Temp
/ReadAJson/.vs
/ReadAJson/Library
/ReadAJson/Logs
/ReadAJson/obj/Debug
/ReadAJson/Packages
/ReadAJson/ProjectSettings
